* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: grey;
    z-index: 5;
    font-family: Arial, sans-serif;
    .burger_input {
      display: none;
    }
    .burger_icon {
      display: none;
    }
    ul {
      display: flex;
      background: rgba( 255, 255, 255, 0.65 );
      box-shadow: 0 8px 32px #bababa4a;
      backdrop-filter: blur( 6.5px );
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      li {
        .link_section {
          color: #18272F;
          position: relative;
          text-decoration: none;
          margin: 0 1em;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background-color: #18272F;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
          }
          &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}


.nav_right {
  padding: 0;
  align-items: center;
  a {
    margin: 0 1em;
    img {
      width: 30px;
    }
  }
}

ul {
  li {
    list-style: none;
  }
}

@font-face {
  font-family: 'DrukText';
  src: url(../fonts/DrukText-Bold-Trial.otf) ;
}

footer {
  background: #252525;
  color: #c0c0c0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
