#home {
  background: #a44f27;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 5em;
  font-family: DrukText, sans-serif;
  #animated_title {
    z-index: 1;
  }
  .svg_home {
    position: absolute;
    width: 40vw;
    left: 50%;
    top: 20%;
    animation: svg-animate linear 2.5s infinite alternate;
  }
  .svg_home_large {
    position: absolute;
    width: 40vw;
    left: 20%;
    top: 20%;
    animation: svg-animate-large linear 3s infinite alternate;
  }
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px -10px 6px);
    z-index: 2;
  }
  .img_yohan {
    position: absolute;
    bottom: 10vh;
    left: -10vw;
    filter: grayscale(40%);
    opacity: 0.80;
    width: 50vw;
  }
  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    width: 100%;
    line-height: 80px;
    span {
      font-weight: bold;
      text-transform: uppercase;
      &.name {
        font-size: 5em;
      }
      &.dev {
        font-size: 3em;
      }
    }
  }
}

@keyframes svg-animate {
  from {
    top: 200px;
  } to {
      top: 220px;
      }
}

@keyframes svg-animate-large {
  from {
    top: 200px;
  } to {
      top: 190px;
    }
}