#about {
  background: #252525;
  color: white;
  min-height: 100vh;
  font-family: DrukText, sans-serif;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 4em;
  }
  .about_text {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 4vw;
    text-align: justify;
    line-height: 95px;
    display: flex;
    flex-wrap: wrap;
    .word {
      padding-right: 15px;
      .letter {
        opacity: 0;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



