#language {
  background: #a44f27;
  color: white;
  min-height: 100vh;
  font-family: DrukText, sans-serif;
  #waves_language {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    filter: drop-shadow(0 10px 6px #0006);
  }
  h2 {
    font-size: 4.5em;
    position: relative;
    bottom: 70px;
  }
  .contenu_language {
    &_body {
      padding: 0 2vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div {
        background: rgba(255, 255, 255, 0.56);
        box-shadow: 0 8px 32px rgba(18, 18, 18, 0.29);
        backdrop-filter: blur( 6.5px );
        border-radius: 25px;
        width: 200px;
        height: 100px;
        padding: 1em;
        margin: 0.5em;
        font-size: 2em;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          border-radius: 35px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}