#projects {
  background: #000031;
  color: white;
  min-height: 100vh;
  font-family: DrukText, sans-serif;
  #waves_projects {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    filter: drop-shadow(0 10px 6px #0006);
  }
}